# Python caches
__pycache__/
*.pyc

# Virtual environments
.venv*/
venv/
ENV/

# PyCharm system files
.idea/

# Exclude folders not ready for tracking
src/data/boundaries/hide/
src/data/boundaries/POIs/hide/
src/temp/
Lib/

# Streamlit secrets (Do NOT track)
.streamlit/secrets.toml

# Ignore external dependencies and libraries
src/site-packages/
site-packages/
